<ion-content>
  <div class="content">
    <div class="sector-nova-consulta">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-datetime displayFormat="DD / MMM / YYYY" [(ngModel)]="dataFiltro" (ionChange)="filtroData()" placeholder="Data da Consulta"></ion-datetime>
            <ion-select *ngIf="tiposConsultas && tiposConsultas.length > 0" [(ngModel)]="tipoFiltro" (ionChange)="filtroTipo()" class="listaTipo" placeholder="Especialidade">
              <ion-select-option *ngFor="let tipo of tiposConsultas" [value]="tipo.id">{{tipo.nome}}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="4">
            <ion-button class="btFiltrar" (click)="limparFiltro()" [disabled]="!dataFiltro && !tipoFiltro" color="secondary" expand="block">Limpar Filtro</ion-button>
          </ion-col>
        </ion-row>
        <ion-item-divider></ion-item-divider>
        <ion-row>
          <ion-col size="12">
            <div *ngIf="!listaConsulta || listaConsulta.length == 0" class="area-lista-vazia">
              <span *ngIf="!loading">{{mensagem}}</span>
              <div *ngIf="loading" class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
            <ion-list *ngIf="listaConsulta && listaConsulta.length > 0">
              <ion-item *ngFor="let item of listaConsulta">
                <ion-label class="ion-text-wrap">
                  <ion-grid>
                    <ion-row>
                      <ion-col class="col-lista-consulta" size="1">
                        <i *ngIf="!item.publico" style="color:#D63742" class="fa fa-lock"></i>
                        <i *ngIf="item.publico" style="color:#168A32" class="fa fa-unlock"></i>
                      </ion-col>
                      <ion-col class="col-lista-consulta" size="6">
                        <ion-text color="primary">
                          <h2>{{item.tipo.nome}}</h2>
                        </ion-text>
                      </ion-col>
                      <ion-col class="col-lista-consulta-dia" size="5">
                        <p>Data de Realização</p>
                        <ion-text color="secondary">
                          <p>{{item.diaRealizacao | date: 'dd/MMM/yyyy'}}</p>
                        </ion-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/page/criar-consulta">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
