<ion-header>
  <ion-toolbar>
    <div style="display: flex; justify-content: space-between; padding-right: 10px;">
    <ion-title>
      PEP - Paciente
    </ion-title>
    <ion-button (click)="logout()" color="danger">Sair</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hospitaiseclinicas">
      <ion-icon name="map"></ion-icon>
      <ion-label>Hospitais e Clinicas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exame">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Exames</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consultas">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Consultas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
