<ion-content>
  <div class="content">
    <ion-grid style="width: 90%;">
      <ion-row>
        <ion-col size="12">
          <ion-row>
            <ion-col size="12">
              <ion-label color="primary">Nome do medicamento: </ion-label>
              <ion-input  [(ngModel)]="nome" class="input-text-custom" size="1" type="text"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label color="primary">Quantidade: </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="3">
              <ion-input  [(ngModel)]="numQuantidade" [disabled]="tipoQuantidade == 'Outro'" class="input-text-right input-text-custom" type="number"></ion-input>
            </ion-col>
            <ion-col class="item-form" size="9">
              <ion-select [(ngModel)]="tipoQuantidade" class="listaTipo" placeholder="Selecione...">
                <ion-select-option>comprimido(s)</ion-select-option>
                <ion-select-option>Mg</ion-select-option>
                <ion-select-option>G</ion-select-option>
                <ion-select-option>gota(s)</ion-select-option>
                <ion-select-option>ML</ion-select-option>
                <ion-select-option>L</ion-select-option>
                <ion-select-option>Outro</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="tipoQuantidade == 'Outro'">
            <ion-col class="item-form" size="12">
              <ion-input  [(ngModel)]="outraQuantidade" type="text" class="input-text-custom" placeholder="Digite a medida..."></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-label color="primary">Intervalo: </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="item-form" size="3">
              <ion-input [(ngModel)]="numIntervalo" [disabled]="tipoIntervalo == 'Outro'" class="input-text-right input-text-custom" type="number"></ion-input>
            </ion-col>
            <ion-col class="item-form" size="9">
              <ion-select [(ngModel)]="tipoIntervalo" class="listaTipo" placeholder="Selecione...">
                <ion-select-option>Minuto(s)</ion-select-option>
                <ion-select-option>Hora(s)</ion-select-option>
                <ion-select-option>Dia(s)</ion-select-option>
                <ion-select-option>Semana(s)</ion-select-option>
                <ion-select-option>Mes(es)</ion-select-option>
                <ion-select-option>Outro</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="tipoIntervalo == 'Outro'">
            <ion-col class="item-form" size="12">
              <ion-input  [(ngModel)]="outroIntervalo" type="text" class="input-text-custom" placeholder="Digite o intervalo..."></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-radio-group [(ngModel)]="temReceita">
            <ion-list-header style="padding-left: 5px;">
              <ion-label color="primary">Este medicamento tem receita?</ion-label>
            </ion-list-header>
            <div style="display: flex;">
              <ion-item style="--border-style: none;">
                <ion-label>Sim</ion-label>
                <ion-radio slot="start" [value]="true"></ion-radio>
              </ion-item>
              <ion-item style="--border-style: none;">
                <ion-label>Não</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
            </div>
          </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="temReceita">
        <ion-col size="12">
          <ion-row>
            <ion-col size="12">
              <ion-label color="primary">Receita: </ion-label>
              <br/>
              <ion-label *ngIf="!receita" color="secondary" style="font-size: 15px !important;" position="stacked">O arquivo precisa estar no formato PDF</ion-label>

              <ion-row class="inputFileArea" *ngIf="receita">
                <ion-col size="3">
                  <ion-button (click)="removerArquivo()" color="danger" expand="block">
                    <ion-icon name="close"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="9">
                  <ion-button (click)="abrirReceita(receita)" class="nomearquivo" color="primary" expand="block">
                    {{receita.nome}}
                  </ion-button>
                </ion-col>
              </ion-row>

              <ion-row class="inputFileArea" *ngIf="!receita">
                <ion-col size="12">
                  <ion-button (click)="selecionarArquivo()" color="primary" expand="block">
                    Selecionar
                  </ion-button>
                </ion-col>
              </ion-row>


              <input class="inputfilecustom" id='selecao-arquivo' (change)="fileChange($event)" type='file' accept="application/pdf"/>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-checkbox [(ngModel)]="publico" color="primary"></ion-checkbox>
              <ion-label style="margin-left: 15px;" color="primary">Publico</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-row>
            <ion-col class="item-form" size="12">
              <ion-checkbox [(ngModel)]="usoContinuo" color="primary"></ion-checkbox>
              <ion-label style="margin-left: 15px;" color="primary">Uso contínuo</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="item-form" size="12">
          <ion-label color="primary">Data de Inicio: </ion-label>
          <ion-datetime displayFormat="DD / MMM / YYYY" [(ngModel)]="dataInicio" placeholder="Selecione..."></ion-datetime>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!usoContinuo">
        <ion-col class="item-form" size="12">
          <ion-label color="primary">Data de Termino: </ion-label>
          <ion-datetime displayFormat="DD / MMM / YYYY" [(ngModel)]="dataTermino" placeholder="Selecione..."></ion-datetime>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="!editando" class="item-form-center" size="12">
          <ion-button (click)="salvarMedicamento()" [disabled]="!formularioValido()" color="primary" expand="block">Salvar Medicamento</ion-button>
        </ion-col>
        <ion-col *ngIf="editando" class="item-form-center" size="12">
          <ion-button (click)="editarMedicamento()" [disabled]="!formularioValido()" color="primary" expand="block">Editar Medicamento</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
