.content{
  margin-top: 13vh;
  width: 100%;
  height: 77vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Esconde o input */
.inputfilecustom {
  display: none
}

/* Aparência que terá o seletor de arquivo */
.inputfiletext {
  background-color: var(--ion-color-primary) !important;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 6px;
}

.removerarquivo{
  background-color: red;
  color: #fff;
}

.nomearquivo{
    word-break: break-all;
    white-space: normal;
}

.inputFileArea{
  margin-top: 10px;
}

.inputFileArea ion-col{
  padding-left: 0;
  width: 100%;
}

.listaTipo{
  --placeholder-opacity: 0.5;
}

.item-form{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-text-custom{
  height: 30px !important;
  max-height: 30px !important;
}

.input-text-right{
  text-align: right;
}

.item-form-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-inner{
  border-style: none !important;
}
