<ion-content>

  <div class="content">
    <div class="area-identification">
      <div (click)="openPhoto()" class="fotoarea">
        <img *ngIf="user && user.fotoPerfil" [src]="'data:'+user.fotoPerfil.tipo+';base64,'+user.fotoPerfil.binario" />
        <img src="../../assets/nophoto.png" *ngIf="!user || !user.fotoPerfil" />
      </div>
      <div class="camera-perfil">
        <ion-icon name="camera"></ion-icon>
      </div>
      <span *ngIf="user">{{user.nome}}</span>
    </div>

    <div class="menu-sector">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button routerLink="/page/clinicas" class="btHome" expand="block">Clinicas da Familia</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-button routerLink="/page/exames" class="btHome" expand="block">Exames</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button routerLink="/page/consultas" class="btHome" expand="block">Consultas</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button routerLink="/page/medicamentos" class="btHome" expand="block">Medicamentos</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>
