ion-content{
  --background: transparent;
}

.content{
  width: 100%;
  height: 100%;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.area{
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 3vw;
  border-radius: 4vw;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
}

.area .nomemedicamento{
  margin-bottom: 10px;
  text-align: center;
  font-size: large;
}

.area .quantidade{
  margin-bottom: 15px;
  text-align: center;
  font-size: medium;
}

.area .datafinal{
  text-align: left;
  width: 100%;
}

.area .receitado{
  text-align: left;
  width: 100%;
}

.area .atencao{
  font-size: medium;
  text-align: center;
  margin-top: 20px;
}

.btclose{
  --border-radius: 6vw;
  --padding: 0;
  --padding-start: 0;
  --padding-end: 0;
  width: 12vw;
  height: 12vw;
  --background:white;
  color: var(--ion-color-primary);
}

.closebtarea{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.areabt{
  margin-top: 3vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
